<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ output extension=".txt" #>
<#@ assembly name="$(SolutionDir)\TeamCoding\bin\Debug\TeamCoding.dll" #>
There are 2 ways Team Coding can be minimally configured. In the options menu (under Team Coding) where you can also set user settings and/or by opening a repository with a <#= TeamCoding.Options.Settings.TeamCodingConfigFileName #> file in it (shared settings will be taken from there).